.arrowButton {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 10px;
}
.arrowButton:before {
  content: "";
  position: absolute;
  top: -1px;
  right: -16px;
  border-style: solid;
  border-width: 20px 0 16px 15px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-color: transparent transparent transparent#26a69a;
}

.arrowButton:hover:before {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-color: transparent transparent transparent#1d7d74;
  /* border-color: #26a69a; */
}
