.form-radio{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

.form-radio .form-check-label{
    background: #fff;
    height: calc(1.5em + .75rem + 3px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    transition: all 0.3s ease;
}

.form-radio .form-check-label .dot{
    height: 15px;
    width: 15px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
    margin-right: 5px;
}

.form-radio .form-check-label .dot::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 2px;
    width: 11px;
    height: 11px;
    background: #26a69a;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

input[type=radio]:checked + .form-check-label {
    border-color: #26a69a;
    background: #26a69a;
}

input[type="radio"]{
    display: none;
}


.form-check-radio:checked + .form-check-label {
    border-color: #26a69a;
    background: #26a69a;
}

.form-check-radio:checked + .form-check-label .dot {
    background: #fff;
}

.form-check-radio:checked + .form-check-label .dot::before {
    opacity: 1;
    transform: scale(1);
}

.form-radio .form-check-label span{
    font-size: 0.875rem;
    color: #505050;
}

input[type=radio]:checked + .form-check-label span {
    color: #fff;
}

.form-radio .form-check {
  padding-right: 1.25rem !important;
  padding-left: 0rem !important;

}