body .container {
  display:block;
  margin:auto;
  margin-top: 20vh;
  width: 430px;
  text-align: center;
}

body .text {
    display:block;
    margin:auto;
    text-align: center;
    font-size: 30px;
    color: #07aa9d;
    font-family: fantasy;
}

.container a {
  width: 33% !important;
  margin-top: 5px;
  text-align: center;
}
      