.img-preview-wrapper {
    text-align: center;
}

.img-preview-wrapper img {
    max-height: 175px;
    max-width: 90%;
    padding: 25px 0 0 0;
}

.img-preview-wrapper .img {
    max-height: 250px;
    max-width: 90%;
    padding: 25px 0 0 0;
}