.modal-content .modal-body {
    text-align: center;
}

.modal-body .modalLogo {
    /* width: -webkit-fill-available; */
    width: auto;
}

.modal-body .modal-title {
    font-size: 1.5rem;
    font-weight: 600;
}