.custom-modal {
  padding: 0 !important;
  /* background-color: aqua; */
}

.custom-modal-input {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  position: fixed;
  background-color: white;
  height: 4.2rem;
  width: 98%;
  border-radius: 10px;
  z-index: 2;
}

.custom-modal-body {
  padding: 1rem 1.5rem 1.5rem 1.5rem !important;
  margin-top: 3rem;
}

.modal-input-custom {
  position: fixed !important;
  width: 90%;
}

/* #scroll-style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
} */

#scroll-style::-webkit-scrollbar {
  width: 7px;
  /* background-color: #F5F5F5; */
}

#scroll-style::-webkit-scrollbar-thumb {
  background-color: #26a69a2e;
  border-radius: 20px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent)); */
}

/* DEFAULTS */
/* =============================================== */
/* body {
    display: grid;
    place-content: center;
  
    min-height: 100vh;
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif;
  } */

/* MAIN */
/* =============================================== */
.rad-label {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 10px;
  padding: 8px 16px;
  margin: 1px 0;
  cursor: pointer;
  transition: 0.3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: hsla(0, 0%, 80%, 0.14);
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  /* width: 20px;
    height: 20px;
    border-radius: 100px;
  
    background: #26a69a;
    position: relative; */
  height: 15px;
  width: 15px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
}

.rad-design::before {
  /* content: "";
  
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
  
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: 0.3s; */
  position: absolute;
  content: "";
  top: 2px;
  left: 2px;
  width: 11px;
  height: 11px;
  background: #26a69a;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

.rad-input:checked + .rad-design::before {
  /* transform: scale(0);
     */
  opacity: 1;
  transform: scale(1);
}

.rad-text {
  color: hsl(0, 0%, 60%);
  margin-left: 14px;
  cursor: pointer;
  /* letter-spacing: 1px; */
  /* text-transform: uppercase; */
  /* font-size: 18px; */
  /* font-weight: 700; */
  transition: 0.3s;
}

.rad-input:checked ~ .rad-text {
  color: hsl(0, 0%, 40%);
}

/* ABS */
/* ====================================================== */
.abs-site-link {
  position: fixed;
  bottom: 40px;
  left: 20px;
  color: hsla(0, 0%, 0%, 0.5);
  font-size: 16px;
}
