body .loaderContainer {
  padding: 2rem 4rem 3rem 3rem;
  border-radius: 0.5rem;
  width: 430px;
  margin: 40px auto;
  text-align: center;
}

/* body .loaderLogo {
    display:block;
    margin:auto;
    margin-top: 10vh;
} */

.loaderContainer .loaderProgress {
    display:block;
    margin:auto;
}

.loaderProgress {
  position: relative;
  width: 60%;
  height: 20px;
  /* border: 3px solid #26a69a; */
  border-radius: 5px;
  overflow: hidden;
  }

  .loaderProgress::after {
    content: '';
    width: 40%;
    height: 100%;
    background: #26A69A;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animloader 0.4s linear infinite;
  }

  @keyframes animloader {
    0% {
      left: 0;
      transform: translateX(-100%);
    }

    100% {
      left: 100%;
      transform: translateX(0%);
    }
  }
      